body{
  font-family: Arial;
  background:#d9d9d9;
}
.ventana{
  width:700px;
  margin:20px auto;
  background:#f2f2f2;
  border:2px solid #333;
}
.titulo{
  background:linear-gradient(#3a7db3,#1e4f7a);
  color:white;
  text-align:center;
  padding:10px;
  font-size:20px;
  font-weight:bold;
}

.form{
  padding:20px;
}

.fila{
  display:flex;
  margin-bottom:10px;
  align-items:center;
}

label{
  width:200px;
  color:#1f3b5a;
}

input{
  width:250px;
  height:22px;
  border:1px solid #555;
}

textarea{
  width:350px;
  height:60px;
  border:1px solid #555;
}

.botones{
  display:flex;
  justify-content:flex-end;
  gap:10px;
  padding:10px 20px;
}

button{
  padding:5px 20px;
  border:1px solid #333;
  background:linear-gradient(#ffffff,#bdbdbd);
}

.btn-grabar{
  background:linear-gradient(#2f6fb0,#1e4f7a);
  color:white;
}

.popup{
  position:absolute;
  top:250px;
  left:50%;
  transform:translateX(-50%);
}

.popup-box{
  width:320px;
  background:white;
  border:2px solid #444;
  padding:15px;
  text-align:center;
  box-shadow:0 0 10px rgba(0,0,0,0.3);
}

.icono{
  font-size:22px;
  font-weight:bold;
  color:#1e4f7a;
  margin-bottom:10px;
}

.btn-aceptar{
  margin-top:10px;
  background:linear-gradient(#e6ffe6,#9fd89f);
}